<!--la couleur du container change selon le jour ou la nuit-->
<div class="container" *ngIf="weatherData" [ngStyle]="{'background-color': (dateTime() > 19 || dateTime() <= 4) ? '#23394A' : '#4c8bad' }">
  <!--le background change selon le jour ou la nuit-->
  <div class="upper">
    <img src="../assets/jour.jpg" *ngIf="weatherData.current.temp_c > 15">
    <img src="../assets/night.jpg" *ngIf="weatherData.current.temp_c <= 15">

    <!--Search locaton bar-->
    <div class="search-location">
      <form #form="ngForm" (submit)="onSubmit">
        <mat-icon>search</mat-icon><input type="text" name="city" [(ngModel)]="cityName" placeholder="Entrer le nom de la ville">
      </form>
    </div>

    <!--data météo de la ville-->
    <div class="weather-data">
      <div class="location">{{ weatherData.location.name }}</div>
      <div class="temperature">{{ weatherData.current.temp_c | number: '1.0-0'}}°C</div> <!--retourne le temperature au format entier -->
      <div class="weather-condition"><img src="../assets/clouds.png"> Nuageux</div> <!--remplacer l'image par l'icon du temps actuel-->
    </div>

    <!--météo heure par heure-->
    <div class="weather-hours" id="wh">
      <!--TODO : a remplacer par une boucle-->
      <div class="byHours">
        <div class="hour">Now</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{11.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">12:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{10.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">13:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{7.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">14:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{8.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">15:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{5.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">16:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{2.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">17:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{0.30 | number: '1.0-0'}}°C</div>
      </div>
      <div class="byHours">
        <div class="hour">18:00</div>
        <div class="icon-w"><img src="../assets/precipitation.png"></div>
        <div class="temp">{{-1.30 | number: '1.0-0'}}°C</div>
      </div>
     
     
      
    </div>
  </div>

  <!--information météo-->
  <div class="lower">
    <div class="more-info-label">
      Informations météo
    </div>
    <div class="more-info-container">
      <!--Temperature min-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png">
          <span>Min</span>
        </div>
        <div class="info-block-value">{{ weatherData.forecast.forecastday[0].day.mintemp_c }}°C</div>
      </div>
      <!--Temperature max--->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png">
          <span>Max</span>
        </div>
        <div class="info-block-value">{{ weatherData.forecast.forecastday[0].day.maxtemp_c }}°C</div>
      </div>
      <!--Humidity-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/precipitation.png">
          <span>Humidité</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.humidity }}%</div>
      </div>
      <!--Wind-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/windy.png">
          <span>Vent</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.wind_kph }} km/h</div>
      </div>
      <!--UV-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/rays.png">
          <span>UV</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.uv }}</div>
      </div>
      <!--Air pressure-->
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/gauge.png">
          <span>Pression de l'air</span>
        </div>
        <div class="info-block-value">{{ weatherData.current.pressure_mb }} hPa</div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>