@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$blue-1: #3c789e;
$blue-2: #4c8bad;
$yellow-1: #fac742;
$white: #fff;
$grey-1: #ededed;
$shadow-dark: rgba(0,0,0,0.3);
$shadow-light: rgba(255, 255, 225, 0.22);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: $blue-1 !important;
  display: flex;
  justify-content: center;
  align-items:center;
}


